@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body{
    margin: 0px;
}

header{
    height: 825px;
    width: 1920px;
    background-image: url("../img/rectangle .jpg");
    background-repeat: no-repeat;
    padding-top: 43px;
}
.login{
    height: 36px;
    width: 300px;
    float: left;
    padding-left: 1344px;
}
.login .about-us{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    color: #283238;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
.login .sign-in{
    border: 2px solid #8BC34A;
    border-radius: 100px;
    padding: 10px 20px;
    background: none;
    color: #8BC34A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    line-height: 16px;
    margin-left: 38px;
}

.hapo-erp{
    margin-top: 215px;
    padding-left: 832px;
}

.icon-container{
    margin-top: 50px;
    margin-left: 500px;
    width: 900px;
    height: 165px;
    float: left;
    position: relative;
}
.group-icon{
    width:300px;
    height:165px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
}
.icon{
    font-size: 48px;
    text-align: center;
}
.icon p{
    width: 300px;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin-left: 0px;
    margin-top: 14px;
}
header >p{
    color: #283238;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    display: inline-block;
    margin-left: 698px;
    margin-bottom: 22px;
}
.start-now{
    padding: 18px 55px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    outline: none;

}

.start-now:hover {
    background: linear-gradient(311.12deg, #429321 0%, #B4EC51 100%);
    cursor: pointer;
}
header .start-now{
    margin-left: 847px;
}
/*todayIlearnt*/
.today-i-learnt{
    height: 661px;
    width: 1920px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}
.today-i-learnt .zone-second{
    height: 536px;
    width: 960px;
    float: left;
    padding-top: 125px;
}
.today-i-learnt .zone-first{
    height: 611px;
    width: 780px;
    float: left;
    padding-left: 180px;
    padding-top: 50px;
}
.zone-second .ti-bookmark-alt{
    font-size: 36px;
    color: #444444;
    margin-right: 19px;
}
.today-i-learnt .zone-second .title {
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.today-i-learnt .zone-second .text{
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}
.zone-second .text-content{
    width: 545px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 35px;
}
/*daily report*/
.daily-report{
    width: 1920px;
    height: 652px;
}
.daily-report [class^="zone-"]{
    width: 960px;
    height: 652px;
    float: left;
}
.daily-report .zone-first{
    width: 570px;
    height: 508px;
    float: left;
    padding-top: 144px;
    padding-left: 390px;
}

.zone-first .ti-write{
    font-size: 36px;
    color: #444444;
    margin-right:18px;
}

.daily-report .zone-first .title{
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.daily-report .zone-first .text{
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}

.daily-report .zone-first .text-content{
    width: 453px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 40px;
}
.daily-report .zone-second >img{
    width: 900px;
    margin-left: 80px;
    margin-top: 35px;
}
/*circle*/
.circle{
    height: 322px;
    width: 1920px;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    position: relative;
}
.circle .contain{
    height: 322px;
    width: 1300px;
    margin-left: 322px;
    position: absolute;
}

.circle .contain .group{
    width: 20%;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto;
}
.group  .oval{
    box-sizing: border-box;
    height: 109.5px;
    width: 109.5px;
    border: 2.5px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 69px;
    position: relative;
}
.oval .mini-oval{
    box-sizing: border-box;
    height: 45.5px;
    width: 45.5px;
    border-radius: 50%;
    border: 2.5px solid #FFFFFF;
    background-color: #7CB342;
    position: absolute;
    margin-left: 28% ;
    margin-top: 82px;
}
.oval .mini-oval p{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1px;
    position: absolute;
    margin-left:14px ;
    margin-top: 9px;
}
.oval [class^="ti-"]{
    color: #FFFFFF;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.group p {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 50px;
}
/*Members*/
.members{
    width: 1920px;
    height: 574px;
}
.members .zone-first{
    float: left;
    width: 570px;
    height: 380px;
    padding-left: 390px;
    padding-top: 97px;
}
.members .zone-first .title{
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.zone-first .ti-user{
    font-size: 36px;
    color: #444444;
    margin-right:18px;
}
.members .zone-first .text{
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.members .zone-first .line{
    height: 50px;
    margin-bottom: 17px;
    position: relative;
}
.line .ti-check-box{
    color: #8BC34A;
    margin-top: 14px;
    margin-right: 18px;
    font-size: 18px;
    position:absolute;
}
.members .line p{
    width: 480px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    margin-left: 36px;
    position: absolute;
}
.members .zone-first button {
    margin-top: 30px;
}
.members .zone-second {
    padding-left: 100px;
    padding-top: 100px;
    float: left;
    width: 860px;
    height: 377px;
}
/*customers*/
.customers{
    height: 661px;
    width: 1920px;
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.5);
}
.customers .zone-first{
    height: 596px;
    width: 790px;
    float: left;
    padding-left: 170px;
    padding-top: 65px;
}

.customers .ti-face-smile{
    margin-right: 19px;
    margin-top: 144px;
    font-size: 36px;
    color: #444444;
}
.customers .zone-second{
    height: 532px;
    width: 960px;
    float: left;
    padding-top: 129px;
}
.customers .zone-second .title{
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.customers .text{
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
    margin-bottom: 38px;
}
.customers .zone-second .line{
    height: 50px;
    margin-bottom: 17px;
    position: relative;
}
.customers .line [class^="ti-"]{
    color: #8BC34A;
    margin-top: 14px;
    margin-right: 18px;
    font-size: 18px;
    position:absolute;
}
.customers .line p{
    width: 480px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-left: 36px;
    position: absolute;
}
.customers button{
    margin-top: 30px;
}
/*ourcustomers*/
.our-customer{
    height:544px;
    width: 1920px;
    background-image: url("../img/Rectangle 3.jpg");
    padding-top: 10px;
    position: relative;
}

.our-customer h2{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
    text-align: center;
}
.our-customer .zone-second{
    height: 140px;
    width: 1136px;
    text-align: center;
    margin: auto;
}
.our-customer .zone-second .info{
    width: 142px;
    height: 140px;
    float: left;
    color: #FFFFFF;
    position: relative;
}
.our-customer .zone-second .owl-item{
    height: 150px;
    padding-top: 10px;
}
.info .oval-ava-small{
    width: 80px;
    height: 80px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    line-height: 14px;
    font-family: Roboto;
    font-size: 14px;
    margin: auto;
}
.oval-ava-small img,
.oval-ava-small p{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
}
.name{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;

}
.job{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
}
.info .oval-ava-small:hover img,
.info .oval-ava-small:hover p{
    max-width: 100%;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.our-customer .group-dot{
    height: 10px;
    width: 100px;
   margin: auto;
}
.dot-first{
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    background-color: #D8D8D8;
    border-radius: 50%;
    float: left;
}
.dot-second{
    box-sizing: border-box;
    height: 11px;
    width: 11px;
    border: 1px solid #979797;
    border-radius: 50%;
    margin-left: 23px;
    float: left;
}
.ti-quote-left{
    color: #FFFFFF;
    font-size: 72px;
    opacity: 0.4;
    left: 487px;
    position: absolute;
}
.description{
    width: 760px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.ti-quote-right {
    color: #FFFFFF;
    font-size: 72px;
    opacity: 0.4;
    right: 486px;
    bottom: 30px;
    position: absolute;
}
/*project*/
.project{
    width: 1920px;
    height: 644px;
    background-color: #FFFFFF ;
}
.project .zone-first{
    width: 600px;
    height: 547px;
    padding-top: 97px;
    padding-left: 360px;
    float: left;

}
.project .zone-second{
    width: 960px;
    height: 620px;
    float: left;
}
.project img{
    width: 960px;
}
.project .ti-calendar{
    color: #444444;
    font-size: 36px;
    line-height: 36px;
    margin-right: 18px;
}
.project .zone-first .title{
	color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.project .zone-first .text{
    width: 462px;
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}
.project .zone-first .text-content{
    width: 470px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer{
    height: 180px;
    width: 1920px;
    background-color: #39474E;
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
    position: relative;
}
.footer .zone-first{
    margin-left: 389px;
    height: 180px;
    width: 970px;
    float: left;
}
.zone-first .column{
    height: 180px;
    width: 194px;
    float: left;
    color: #FFFFFF;
    font-family: Roboto;
}
.zone-first .column >img{
    margin-top: 45px;
    width: 96px;
}
.zone-first .column .copyright{
    color: #D0D8DC;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    margin-top: 40px;
}
.zone-first .column a{
    color: #D0D8DC;
    font-family: Roboto;
    font-size: 10px;
    text-decoration: none;
    font-weight: 500;
    line-height: 20px;
}
.zone-first .column a:hover{
    color: #8BC34A;
}

.zone-first .column .p-title{
    color: #8BC34A;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 54px;
    margin-bottom: 14px;
}

.footer .zone-second{
    width: 300px;
    height: 180px;
    float: left;
}
.footer .zone-second [class^="ti-"]
{
    color: #8BC34A;
    font-size: 13px;
    line-height: 13px;
    float: left;
    margin-right: 38px;
    margin-top: 110px;
}
