@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
    overflow: auto;
}
header{
    padding-top: 53px;
    height: 825px;
    width: 1920px;
    background-image: url("../img/rectangle .jpg");
    background-repeat: no-repeat;
}
.login .about-us {
    height: 16px;
    width: 100px;
    color: #283238;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    background: none;
    border: 0;
    margin-left: 1344px;

}

.login .sign-in{
    height: 36px;
    width: 82px;
    border: 2px solid #8BC34A;
    border-radius: 100px;

    margin-left: 38px;
    background: none;
    color: #8BC34A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}

.hapo-erp{
    margin-top: 175px;
    margin-left: 832px;

}

.icon-container{
    height: 110px;
    margin-top: 53px;
    margin-left: 607px;
    margin-right: 607px;
}
.icon-container .icon{
    float: left;
    width: 33.33%;
    text-align: center;
}
.icon-container p{
    height: 48px;
    color: #283238;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin-top: 14px;
}
.icon-container .icon [class^="ti-"]{
    font-size: 48px;
}
.text-1 {
    margin-top: 53px;
    text-align: center;
}
.text-1 p{
    height: 24px;
    color: #283238;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;	line-height: 24px;
}
.header-button{
    margin-top: 22px;
    margin-left: 847px;
}
 .start-now{
     padding: 18px,55px;
     height: 60px;
     width: 225px;
     border-radius: 100px;
     background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
     color: #FFFFFF;
     font-family: Roboto;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     line-height: 24px;
}
 .container-1{
     height: 661px;
     width: 1920px;
     background-color: #FFFFFF;
     box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
     position: relative;
 }
 .ti-bookmark-alt{
     font-size: 36px;
     color: #444444;
     margin-right: 19px;
 }
.container-1 .contain-2 .title{
    height: 63px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.container-1 .contain-2{
    height: 661px;
    width: 555px;
    margin-left: 975px;
    margin-top: 129px;
    position: absolute;
}
.text{
    height: 19px;
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}
.text-2{
    height: 168px;
    width: 545px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 40px;
}

.container-2{
    height: 652px;
    width: 1920px;
    position: relative;
}
.container-2 .contain-1{
    height: 652px;
    width: 457px;
    margin-left: 390px;
    margin-top: 144px;
    margin-right: 1073px;
    position: absolute;
}
.ti-ruler-pencil{
    font-size: 36px;
    color: #444444;
    margin-right: 18px;
}
.container-2 .contain-1 .title{
    height: 63px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.container-2 .contain-1 .text
{
    height: 19px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}
.container-2 .contain-1 .text-2
{
    height: 192px;
    width: 453px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 40px;
}
.container-3{
    height: 322px;
    width: 1920px;
    background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    position: relative;
}
.container-3 .contain{
    height: 130.5px;
    width: 1920px;
    margin-top: 68.75px;
    padding-left: 392.75px;
    position: absolute;
}

.container-3 .contain .group{
    width: 20%;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto;
}
.group  .oval{
    box-sizing: border-box;
    height: 109.5px;
    width: 109.5px;
    border: 2.5px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative;
}
.oval .mini-oval{
    box-sizing: border-box;
    height: 45.5px;
    width: 45.5px;
    border-radius: 50%;
    border: 2.5px solid #FFFFFF;
    background-color: #7CB342;
    position: absolute;
    margin-left: 28% ;
}

.oval [class^="ti-"]{
    color: #FFFFFF;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.group p {
    margin-left: 20%;
    margin-right: 5%;
}
.container-4{
    height: 574px;
    width: 1920px;
    position: relative;
}
.container-4 .contain-1 {
    height: 574px;
    width: 564px;
    margin-left:389px;
    margin-top: 97px;
    position: absolute;
}
.container-4 .contain-1 .title{
    height: 63px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
    margin-bottom: 30px;
}
.check-box .ti-check-box
{
    margin-right: 18px;
    font-size: 18px;
    position: absolute;
}
.check-box {
    width: 519px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    margin-bottom: 17px;
}
.button{
    margin-top: 30px;
}

.container-5{
    height: 661px;
    width: 1920px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
    position: relative;
}
.container-5 .contain-2
{
    height: 661px;
    width: 556px;
    margin-left: 975px;
    margin-top: 129px;
    position: absolute;
}
.container-5 .contain-2 .title
{
    height: 63px;
    color: #444444;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.title .ti-face-smile{
    margin-right: 19px;
    font-size: 36px;
    color: #444444;
}
.mini-box{
    width: 556px;
    color: #283238;
    font-family: Roboto;
    font-size: 14px;
    margin-bottom: 17px;
}
.mini-box [class^="ti-"]{
    position: absolute;
    margin-right: 17px;
    font-size: 18px;
}
.container-6{
    height:544px;
    width: 1920px;
    background-image: url("../img/Rectangle 3.jpg");
    position: relative;
}
.container-6>p{
    height: 63px;
    width: 300px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
    text-align: center;
    position: absolute;
    margin-left: 805px;
}
.container-6 .ti-quote-left{
    font-size: 72px;
    margin-left: 487px;
    margin-top: 335px;
    position: absolute;
}
.container-6 .description{
    height: 105px;
    width: 760px;
    margin-left: 586px;
    margin-top: 360px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    position: absolute;
}
.container-6 .ti-quote-right {
    font-size: 72px;
    margin-left: 1362px;
    margin-top: 442px;
    position: absolute;
}
.footer{
    height: 180px;
    width: 1920px;
    background-color: #39474E;
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}

.container-7{
    width: 1920px;
    height: 644px;
    background-color: #FFFFFF ;
}
.container-7 .contain-1{
    width: 457px;
    height: 644px;
    margin-left: 390px;
}
.container-7 .title{
    margin-top: 97px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
}
.title .ti-calendar{
    font-size: 36px;
    color: #444444;
    margin-right: 18px;
}
.text-3{
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    font-style: italic;
    line-height: 19px;
    margin-top: 16px;
}
.container-7 .contain-1 >p {
    height: 192px;
    width: 456px;
    color: #283238;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-top: 30px;
}
.container-7 .contain-1 button{
    margin-left: 2px;
    margin-top: 30px;
}